<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page</title>
</head>
<body>
    
    <%- include('partials/header') %>
        <div style="text-align: center;">
            <h1>404 Page!</h1>
            <p>Page not found!</p>
        </div>
    <%- include('partials/footer') %>
</body>
</html>