<!DOCTYPE html>
<html>
<head>
    <title>Email</title>
</head>
<body>
    <h1>Hello <%= name %>!</h1>
    <p>This is a test email sent using Nodemailer with EJS templates in an Express.js application.</p>
    <p>If you don't want to received notification <a href="https://nexusyard.com/">unsubscribe</a> with us! </p>
    <hr />
    <p style="text-align: center;"> Nexus Yard || 2024</p>
</body>
</html>
